<div class="navbar-sticky bg-light">
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0" [routerLink]="['/home']" style="min-width: 7rem;">
        <img width="180" height="55" src="../../assets/images/logo.png" alt="Home Shoppe">
      </a>
      <a class="navbar-brand d-sm-none mr-2" [routerLink]="['/home']" style="min-width: 4.625rem;">
        <img width="100" height="35" src="../../assets/images/logo.png" alt="Home Shoppe">
      </a>
      <div class="input-group-overlay d-none d-lg-flex mx-4 w-75">
        <form #form="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="testSearch()">
          <input class="form-control mr-sm-1" type="search" placeholder="Nhập tên sản phẩm cần tìm" aria-label="Search" [(ngModel)]="nameSearch" name="nameSearch" required style="width:500px">
          <button [disabled]="!form.valid" [routerLink]="['/products']"  class="btn btn-secondary my-2 my-sm-0" type="submit"><span><i class="fas fa-search"></i></span></button>
        </form>
      </div>
      <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success btn-sm my-2 my-sm-0 p-2" type="submit" (click)="openModalDialog()">Đăng nhập <strong>|</strong> Đăng ký</button>
        </form>
        <div class="dropdown" *ngIf="loggedIn()">
          <a class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2" href="#signin-modal" data-toggle="modal">
            <div class="navbar-tool-icon-box">
              <i class="navbar-tool-icon fas fa-user"></i>
            </div>
            <div class="navbar-tool-text ml-n3">
              <small>Hello, {{authService.decodedToken?.unique_name | titlecase}}</small>My Account
            </div>
          </a>
            <div class="dropdown-content">
              <a [routerLink]="['/user/edit']" routerLinkActive="router-link-active">Tài khoản của tôi</a>
              <a [routerLink]="['/payment/order']" routerLinkActive="router-link-active">Đơn hàng của tôi</a>
              <a [routerLink]="['/home']" (click)="logOut()" style="color:#00bfa5; cursor: pointer;">Đăng xuất</a>
            </div>
        </div>

        <div class="navbar-tool ml-3">
          <a class="navbar-tool-icon-box bg-secondary dropdown-toggle" [routerLink]="['/cart']">
            <span class="navbar-tool-label">{{itemCount}}</span>
            <i class="navbar-tool-icon fas fa-shopping-cart"></i>
          </a>
          <a class="navbar-tool-text" [routerLink]="['/cart']">
          </a>
          <!-- Cart dropdown-->
        </div>
      </div>
    </div>
  </div>

  <app-manufacturer-list></app-manufacturer-list>
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link active" href="#signin-tab" data-toggle="tab" role="tab" aria-selected="true"><i class="fas fa-unlock-alt mr-2 mt-n1"></i>Đăng nhập</a></li>
          <li class="nav-item"><a class="nav-link" href="#signup-tab" data-toggle="tab" role="tab" aria-selected="false"><i class="far fa-user mr-2 mt-n1"></i>Đăng ký</a></li>
        </ul>
        <button class="close" type="button" data-dismiss="modal" (click)="closeModalDialog();" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body tab-content py-4">
        <form #loginForm="ngForm" class="needs-validation tab-pane fade show active" autocomplete="off" novalidate="" id="signin-tab" (ngSubmit)="login()">
          <div class="form-group">
            <label for="si-user">User name</label>
            <input class="form-control" type="text" name="username" id="si-user" placeholder="Username"
              #username="ngModel" [(ngModel)]="model.username" required>
            <div class="invalid-feedback">Please provide a valid Username.</div>
          </div>
          <div class="form-group">
            <label for="si-password">Password</label>
            <div class="password-toggle">
              <input class="form-control" [type]="showButton ? 'text':'password' " id="si-password" [(ngModel)]="model.password"
                #password="ngModel" name="password" required>
              <label class="password-toggle-btn">
                <input class="custom-control-input" type="checkbox"><i [class]="showEye ? 'fa fa-eye-slash password-toggle-indicator' : 'fa fa-eye password-toggle-indicator'" (click)="showPassword()"></i><span class="sr-only">Show password</span>
              </label>
            </div>
          </div>
          <div class="form-group d-flex flex-wrap justify-content-between">
            <div class="custom-control custom-checkbox mb-2">
              <input class="custom-control-input" type="checkbox" id="si-remember">
              <label class="custom-control-label" for="si-remember">Remember me</label>
            </div><a class="font-size-sm" href="#">Forgot password?</a>
          </div>
          <button [disabled]="!loginForm.valid" class="btn btn-primary btn-block btn-shadow btn-login" type="submit">Sign in</button>
        </form>
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="needs-validation tab-pane fade" autocomplete="off" novalidate="" id="signup-tab">
          <div class="form-group">
            <label for="su-name">Tên đăng nhập</label>
            <input  type="text"
              [ngClass]="{'is-invalid': registerForm.get('Username').errors
                && registerForm.get('Username').touched}"
              class="form-control"
              id="su-name" formControlName="Username"
              placeholder="John Doe">
            <div class="invalid-feedback">Bạn chưa nhập tên đăng nhập</div>
          </div>
          <div class="form-group">
            <label for="su-password">Mật khẩu</label>
            <input type="password"
              [ngClass]="{'is-invalid': registerForm.get('Password').errors
              && registerForm.get('Password').touched}"
              class="form-control"
              formControlName="Password" id="su-password">
            <div class="invalid-feedback"
              *ngIf="registerForm.get('Password').hasError('required')
                && registerForm.get('Password').touched">
              Bạn chưa nhập mật khẩu
            </div>
            <div class="invalid-feedback"
              *ngIf="registerForm.get('Password').hasError('minlength')
                && registerForm.get('Password').touched">
              Mật khẩu phải có ít nhất 4 ký tự
            </div>
            <div class="invalid-feedback"
              *ngIf="registerForm.get('Password').hasError('maxlength')
                && registerForm.get('Password').touched">
              Mật khẩu tối đa 10 ký tự
            </div>
          </div>
          <div class="form-group">
            <label for="su-password-confirm">Xác nhận mật khẩu</label>
            <input type="password"
                [ngClass]="{'is-invalid': registerForm.get('ConfirmPassword').errors
                && registerForm.get('ConfirmPassword').touched
                || registerForm.get('ConfirmPassword').touched
                && registerForm.hasError('mismatch')}"
              class="form-control"
              formControlName="ConfirmPassword" id="su-password-confirm">
            <div class="invalid-feedback"
              *ngIf="registerForm.get('ConfirmPassword').hasError('required')
              && registerForm.get('ConfirmPassword').touched">
              Bạn chưa nhập mật khẩu xác nhận
            </div>
            <div class="invalid-feedback"
              *ngIf="registerForm.hasError('mismatch')
              && registerForm.get('ConfirmPassword').touched">
              Mật khẩu không khớp
            </div>
          </div>
          <button class="btn btn-primary btn-block btn-shadow" [disabled]="!registerForm.valid" type="submit">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</div>
