<!-- <form [formGroup]="updateUserForm" (ngSubmit)="updateInfo()">
  <div class="form-group">
    <label class="control-label" style="margin-right:10px">I am a: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="female" formControlName="gender">Female
    </label>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': updateUserForm.get('knownAs').errors && updateUserForm.get('knownAs').touched}" class="form-control"
      placeholder="Known as" formControlName="knownAs">
    <div class="invalid-feedback" *ngIf="updateUserForm.get('knownAs').touched && updateUserForm.get('knownAs').hasError('required')">Known as is required</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': updateUserForm.get('dateOfBirth').errors && updateUserForm.get('dateOfBirth').touched}" class="form-control"
      placeholder="Date of Birth" formControlName="dateOfBirth" type="date" >
    <div class="invalid-feedback" *ngIf="updateUserForm.get('dateOfBirth').touched && updateUserForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': updateUserForm.get('city').errors && updateUserForm.get('city').touched}" class="form-control"
      placeholder="City" formControlName="city">
    <div class="invalid-feedback" *ngIf="updateUserForm.get('city').touched && updateUserForm.get('city').hasError('required')">City is required</div>
  </div>
  <div class="form-group">
    <input [ngClass]="{'is-invalid': updateUserForm.get('country').errors && updateUserForm.get('country').touched}" class="form-control"
      placeholder="Country" formControlName="country">
    <div class="invalid-feedback" *ngIf="updateUserForm.get('country').touched && updateUserForm.get('country').hasError('required')">Country is required</div>
  </div>
</form> -->
<!-- <form>
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="button">Cancel</button>
  </div>
</form> -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
        <hr>
        <h4 class="text-center text-primary">Thông tin tài khoản</h4>
        <hr>

        <div class="form-group row">
          <label for="su-name" class="col-sm-4 col-form-label">Tên đăng nhập</label>
          <div class="col-8">
            <input type="text" [(ngModel)]="user.username" name="username"
              class="form-control" placeholder="Username">
          </div>
        </div>

        <div class="form-group row">
            <label for="su-fullname"  class="col-sm-4 col-form-label">Họ tên</label>
          <div class="col-8">
            <input type="text" [(ngModel)]="user.fullname" name="fullname"
              class="form-control" placeholder="Fullname">
          </div>
        </div>

        <div class="form-group row">
          <label for="su-dateOfBirthday" class="col-sm-4 col-form-label">Ngày sinh</label>
          <div class="col-8">
          <input type="date" name="dateOfBirthday" class="form-control"
            [ngModel]="user.dateOfBirthday | date:'yyyy-MM-dd'" min="1900-01-01"
            (ngModelChange)="user.dateOfBirthday = $event"
           >
          </div>
        </div>

        <div class="form-group row">
          <label for="su-email" class="col-sm-4 col-form-label">Email</label>
          <div class="col-8">
            <input type="email" [(ngModel)]="user.email" name="email"
              class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="su-phoneNumber" class="col-sm-4 col-form-label">Số điện thoại</label>
          <div class="col-8">
            <input type="tel" [(ngModel)]="user.phoneNumber" name="phoneNumber"
              class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="su-address" class="col-sm-4 col-form-label">Địa chỉ</label>
          <div class="col-8">
            <textarea class="form-control" rows="2" [(ngModel)]="user.address" name="address"></textarea>
          </div>
        </div>

        <div class="form-group text-center">
          <button class="btn btn-primary btn-sm" [disabled]="!editForm.dirty"
            form="editForm" type="submit">Cập nhật</button>
          <button class="btn btn btn-info btn-sm" style="margin-left: 10px;"
            [routerLink]="['/home']" type="button">Quay lại</button>
        </div>
      </form>
    </div>
  </div>
</div>
