<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
        <hr>
        <h4 class="text-center text-primary">Thông tin tài khoản</h4>
        <hr>

        <div class="form-group row">
          <label for="su-name" class="col-sm-4 col-form-label">Tên đăng nhập</label>
          <div class="col-8">
            <input type="text" [(ngModel)]="user.username" name="username"
              class="form-control" placeholder="Username">
          </div>
        </div>

        <div class="form-group row">
            <label for="su-fullname"  class="col-sm-4 col-form-label">Họ tên</label>
          <div class="col-8">
            <input type="text" [(ngModel)]="user.fullname" name="fullname"
              class="form-control" placeholder="Fullname">
          </div>
        </div>

        <div class="form-group row">
          <label for="su-dateOfBirthday" class="col-sm-4 col-form-label">Ngày sinh</label>
          <div class="col-8">
          <input type="date" name="dateOfBirthday" class="form-control"
            [ngModel]="user.dateOfBirthday | date:'yyyy-MM-dd'"
            (ngModelChange)="user.dateOfBirthday = $event"
           >
          </div>
        </div>

        <div class="form-group row">
          <label for="su-email" class="col-sm-4 col-form-label">Email</label>
          <div class="col-8">
            <input type="email" [(ngModel)]="user.email" name="email"
              class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="su-phoneNumber" class="col-sm-4 col-form-label">Số điện thoại</label>
          <div class="col-8">
            <input type="tel" [(ngModel)]="user.phoneNumber" name="phoneNumber"
              class="form-control">
          </div>
        </div>

        <div class="form-group row">
          <label for="su-address" class="col-sm-4 col-form-label">Địa chỉ</label>
          <div class="col-8">
            <textarea class="form-control" rows="2" [(ngModel)]="user.address" name="address"></textarea>
          </div>
        </div>

        <div class="form-group text-center">
          <button class="btn btn-primary btn-sm" [disabled]="!editForm.dirty"
            form="editForm" type="submit">Cập nhật</button>
          <button class="btn btn btn-info btn-sm" style="margin-left: 10px;"
            [routerLink]="['/home']" type="button">Quay lại</button>
        </div>
      </form>
    </div>
  </div>
</div>

