<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a (click)="navigateToHome()">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active">Nhà cung cấp</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
          Danh sách nhà cung cấp
          <a class="btn btn-success btn-sm" style="float:right" [routerLink]="['add']">
              Thêm mới
          </a>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" cellspacing="0">
                  <thead>
                      <tr>
                          <th>STT</th>
                          <th>Tên hãng</th>
                          <th>Trạng thái</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr id="row_1" *ngFor="let manufacturer of manufacturers, let i = index">
                      <td>{{i+1}}</td>
                      <td>{{manufacturer.name}}</td>
                      <td>{{manufacturer.isActive===true? 'Hoạt động': 'Không hoạt động'}}</td>
                      <td>
                          <i (click)="deleteManufacturer(manufacturer.idManufacturer)" class="fas fa-trash-alt fa-sm text-danger"></i>
                          |
                          <i [routerLink]="manufacturer.idManufacturer" class="far fa-edit fa-sm text-primary"></i>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <br>
              <div class="MenuPage">
                  <div class="pagination-container"><ul class="pagination"><li class="active"><a>1</a></li><li><a href="/Admin/Phones?page=2">2</a></li><li><a href="/Admin/Phones?page=3">3</a></li><li><a href="/Admin/Phones?page=4">4</a></li><li class="PagedList-skipToNext"><a href="/Admin/Phones?page=2" rel="next">»</a></li></ul></div>
              </div>
          </div>
      </div>
  </div>
</div>
