<div id="all">
  <div id="content">
    <div class="container">
      <div class="row">
        <div id="basket" class="col-lg-9">
          <div class="box">
              <form #payForm="ngForm" (ngSubmit)="CreateOrder()">
                <hr>
                <h4 class="text-center text-primary">Thông tin thanh toán</h4>
                <hr>

                <div class="form-group row">
                  <label for="su-name" class="col-sm-4 col-form-label">Người nhận</label>
                  <div class="col-8">
                    <input type="text" name="receiver" required [(ngModel)]="order.receiver"
                      class="form-control" placeholder="Họ tên người nhận">
                  </div>
                </div>

                <div class="form-group row">
                    <label for="su-fullname"  class="col-sm-4 col-form-label">Email</label>
                  <div class="col-8">
                    <input type="email"  name="email" required [(ngModel)]="order.email"
                      class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="su-email" class="col-sm-4 col-form-label">Số điện thoại</label>
                  <div class="col-8">
                    <input type="number"  name="phone" required [(ngModel)]="order.phoneNumber"
                      class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="su-address" class="col-sm-4 col-form-label">Địa chỉ</label>
                  <div class="col-8">
                    <textarea class="form-control" rows="2" required name="address" [(ngModel)]="order.address"></textarea>
                  </div>
                </div>

                <div class="form-group text-center">
                  <button class="btn btn-primary btn-sm" [disabled]="!payForm.valid"
                    type="submit">Cập nhật</button>
                  <button class="btn btn btn-info btn-sm" style="margin-left: 10px;"
                    [routerLink]="['/cart']" type="button">Quay lại</button>
                </div>
              </form>
          </div>
          <!-- /.box-->
        </div>
        <!-- /.col-lg-9-->
        <div class="col-lg-3">
          <div id="order-summary" class="box">
            <div class="box-header mt-3">
              <h3 class="mb-0 mt-3">Thông tin đặt hàng</h3>
            </div>
            <p class="text-muted">Tính theo đơn giá tổng tiền và chi phí vận chuyển.</p>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Tổng tiền</td>
                    <th>{{this.totalPrice|currency:'VND'}}</th>
                  </tr>
                  <tr>
                    <td>Chi phí vận chuyển</td>
                    <th>{{30000|currency:'VND'}}</th>
                  </tr>
                  <tr class="total">
                    <td>Tổng</td>
                    <th>{{totalPrice + 30000|currency:'VND'}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /.col-md-3-->
      </div>
    </div>
  </div>
</div>

