<!-- <div class="text-center mt-3">
  <h2>Kết quả tìm kiếm - {{pagination.totalItems}} </h2>
</div> -->
<div class="container mt-5">

  <form class="form-inline" #form="ngForm" (ngSubmit)="loadProducts()" novalidate>
    <div class="form-group">
      <label for="minPrice">Giá MIN</label>
      <input type="number" class="form-control ml-1" style="width: 170px" required id="minPrice"
        [(ngModel)]="userParams.minPrice" name="minPrice">
    </div>

    <div class="form-group px-2">
      <label for="maxPrice">Giá MAX</label>
      <input type="number" class="form-control ml-1" style="width: 170px" id="maxPrice" required
         [(ngModel)]="userParams.maxPrice" name="maxPrice">
    </div>

    <button type="submit" [disabled]="!form.valid" class="btn btn-primary" style="margin-left:10px">Tìm kiếm</button>
    <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
        Reset
    </button>
    <div class="col">

      <div class="btn-group float-right">
        <label style="margin-right: 5px">Sorting by: </label>
        <button type="button" name="orderBy" class="btn btn-primary"
          [(ngModel)]="userParams.orderBy" (click)="loadProducts()" btnRadio="name">Name</button>
        <button type="button" name="orderBy" class="btn btn-primary"
          [(ngModel)]="userParams.orderBy" (click)="loadProducts()" btnRadio="price">Price</button>
      </div>
    </div>

  </form>
  <br>



  <div class="row">
    <div *ngFor="let product of products" class="col-lg-2 col-md-3 col-sm-6">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)=(pageChanged($event))
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
</div>
